# Garbage
*~
erl_crash.dump

# Generic erlang build output
*.beam
*.app
/deps
/*.d
/.erlang.mk
/ebin

# Specific build output
/annotations.config
/priv/resources

# Dialyzer output
/.*.plt
/.deps_plt

# Test output
/.eunit
/log/
/logs/
/cover/
/ct.coverdata
/test/ct.cover.spec
/eunit.coverdata

# Dist
/_rel
